body {
}

.ButtonSignin {
    left: 50%;
    transform: translate(-50%,-0%);
    width: 50%;
    margin-top: 40%;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    background-color: black;
    opacity: 0.8;
    border-style: dotted;
    color: purple;
    border-color: purple;
}

.ButtonCreate {
    left: 50%;
    transform: translate(-50%,-0%);
    width: 50%;
    margin-top: 47%;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    background-color: black;
    opacity: 0.8;
    border-style: dotted;
    color: purple;
    border-color: purple;
}

